---
import Layout from "../layouts/Layout.astro";
import data from "../../public/data.json";
import "../../assets/scss/astro-ecommerce.scss";
import Navbar from "../components/navbar";
import ComplexNavbar from "../components/complexNavbar";
import ComplexNavbarDark from "../components/complexNavbarDark";
import Footer from "../components/footer";

import TestimonialsFade from "../components/promo/testimonialsFade";
import IncentiveLarge from "../components/incentives/incentiveLarge";
import IncentiveCols from "../components/incentives/incentiveCols";
---

<Layout title="Cargo 917">
  <main>
    <Navbar />
    <div class="container mt-5">))</div>

    <div class="my-10">
      <h3>Category filters</h3>
      <p class="mb-5">With inline actions and expandable sidebar filters</p>
    </div>

    <h3 class="mt-5">Complex Navbar White</h3>

    <br /><br />
    <ComplexNavbar />

    <h3 class="mt-5">Complex Navbar Dark</h3>

    <br /><br />
    <ComplexNavbarDark />
  </main>

  <div class="my-10">
    <h3 class="mt-5">Promo Sections</h3>
    <p class="text-body">Full-width with background image and large content</p>
    <TestimonialsFade
      pageHeaderBgImg={"https://images.unsplash.com/photo-1534802046520-4f27db7f3ae5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2729&q=80"}
      pageHeaderMinVh="50vh"
    />
  </div>

  <div class="my-10">
    <IncentiveLarge />
  </div>

  <div class="my-10">
    <h3 class="mt-5">Features</h3>
    <p class="text-body">3-column with illustrations and header</p>
    <IncentiveCols />
  </div>

  <Footer />
</Layout>
