---
import Layout from "../layouts/Layout.astro";
import data from "../../public/data.json";
import "../../assets/scss/astro-ecommerce.scss";
import Navbar from "../components/navbar";
import Footer from "../components/footer";
import TestimonialsFade from "../components/promo/testimonialsFade";
---

<Layout title="Landing Page">
  <main>
    <Navbar />

    <div class="container my-5">
      <div class="row mb-5">
        {
          data.categories
            .slice(0, 4)
            .map((category) => <div class="col-md-6 col-lg-3" />)
        }
      </div>

      <div class="my-5"></div>
      <div class="mt-5 mb-10">
        <TestimonialsFade
          pageHeaderBgImg={"https://images.unsplash.com/photo-1519642918688-7e43b19245d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2676&q=80"}
          pageHeaderMinVh="50vh"
        />
      </div>

      <Footer />
    </div>
  </main>
</Layout>
